<nav class="main__breadcrumb breadcrumb" aria-label="breadcrumbs">
  <ol class="list" role="list">
    <li class="breadcrumb__item">
      <a class="link" href="{{ routes.root_url }}">Home</a>
    </li>

    {% if product.collections.size > 0 %}
      <li class="breadcrumb__item">
        <a class="link" href="{{ product.collections[0].url }}">{{ product.collections[0].title }}</a>
      </li>
    {% endif %}
    <li class="breadcrumb__item">
      <a class="link link--disabled" aria-current="page" aria-disabled="true">{{ product.title }}</a>
    </li>
  </ol>
</nav>
