     <nav class="main__breadcrumb breadcrumb" aria-label="Breadcrumbs">
      <ol class="list" role="list">
        <li class="breadcrumb__item"><a class="link" href="/">Home</a></li>
        <li class="breadcrumb__item"><a class="link" href="#">Women</a></li>
        <li class="breadcrumb__item"><a class="link link--disabled">White unisex
            t-shirt</a></li>
      </ol>
    </nav>