<div>
  <h2 class="footer__heading heading heading--s">{{ heading }}</h2>

  <address class="footer__adress">
    {{ text }}
    <ul
      class="footer__list--address list"
      role="list"
      aria-label="social links"
    >
      <li>
        <a class="link link--disabled" href="{{ facebook_link }}" target="_blank">
          <span class="visually-hidden">our facebook page — opens in a new tab</span>
        </a>
      </li>

      <li>
        <a class="link link--disabled" href="{{ instagram_link }}" target="_blank">
          <span class="visually-hidden">our instagram page — opens in a new tab</span>
        </a>
      </li>
    </ul>
  </address>
</div>
