.footer {
  border-top: 0.0625rem solid var(--border-color);
  padding-top: 5rem;
}

@media (max-width: 1056px) {
  .footer {
    padding-left: 1rem;
  }
}

.footer__container {
  display: flex;
  margin-bottom: 4.6875rem;
  gap: 9.75rem;
  padding-left: 5.5rem;
}

@media (max-width: 1056px) {
  .footer__container {
    justify-content: space-around;
    gap: 0;
  }
}