/* @font-face {
  font-family: "Avenir Next Rounded Std";
  font-weight: normal;
  font-style: normal;
  src: local("Avenir Next Rounded Std Regular"),
  url({{ "AvenirNextRoundedStd-Reg.woff2" | asset_url }}) format("woff2"),
  url({{ "AvenirNextRoundedStd-Reg.woff" | asset_url }}) format("woff");
}

@font-face {
  font-family: "Avenir Next Rounded Std";
  font-weight: 500;
  font-style: normal;
  src: local("Avenir Next Rounded Std Medium"),
  url({{"AvenirNextRoundedStd-Med.woff2"|asset_url}}) format("woff2"),
  url({{"AvenirNextRoundedStd-Med.woff"|asset_url}}) format("woff");
}

@font-face {
  font-family: "Avenir Next Rounded Std";
  font-weight: bold;
  font-style: normal;
  src: local("Avenir Next Rounded Std Demi"),
  local("AvenirNextRoundedStd-Demi"),
  url({{"AvenirNextRoundedStd-Demi.woff2"|asset_url}}) format("woff2"),
  url({{"AvenirNextRoundedStd-Demi.woff"|asset_url}}) format("woff");
}

@font-face {
  font-family: "Avenir Next Rounded Std";
  font-weight: bold;
  font-style: normal;
  src: local("Avenir Next Rounded Std Bold"),
  local("AvenirNextRoundedStd-Bold"),
  url({{"AvenirNextRoundedStd-Bold.woff2"|asset_url}}) format("woff2"),
  url({{"AvenirNextRoundedStd-Bold.woff"|asset_url}}) format("woff");
} */