<header class="page__header header">
    <a class="skip-to" href="#main">Skip to main content</a>
    <div class="header__wrapper container">
      <nav class="header__main-menu main-menu" aria-label="Main Menu">
        <ul class="main-menu__list list" role="list">
          <li><a class="link" href="/women">Women</a></li>
          <li><a class="link" href="/men">Men</a></li>
          <li><a class=" link" href="/kids">Kids</a></li>
          <li><a class="link" href="/company">Company</a></li>
        </ul>
      </nav>
      <a class="link header__logo link--disabled" href="/">
        <span class="visually-hidden">Homepage</span>
        <img src="https://res.cloudinary.com/dp76j19hl/image/upload/v1670274849/logo_ycx9bf.svg" alt="" role="presentation">
      </a>
      <nav class="header__main-menu main-menu" aria-label="Account Menu">
        <ul class="main-menu__list list" role="list">
          <li><a class="link" href="/account">Account</a></li>
          <li><a class="link" href="/search">Search</a></li>
          <li>
            <a class="link" href="/cart">
              <span class="main-menu__counter" aria-hidden="true">Cart (<span data-cart-quantity
                  aria-live="polite">0</span>)</span>
              <span class="visually-hidden">Cart has <span data-cart-quantity aria-live="polite">0</span> items</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>




{% schema %}
  {
    "name": "alternate-header",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_with_text_image",
        "label": "Image"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}