<footer class="footer page__footer">
  <div class="footer__container container">
    {%- if section.blocks.size > 0 -%}
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'about' -%}
            {%- render 'alternate-footer-about',
              heading: block.settings.heading,
              text: block.settings.text,
              facebook_link: block.settings.facebook_link,
              instagram_link: block.settings.instagram_link,
              copyright: block.settings.copyright
            -%}
          {%- when 'menu' -%}
            {%- render 'alternate-footer-menu', heading: block.settings.heading, link_list: block.settings.link_list -%}
        {%- endcase -%}
      {%- endfor -%}
    {%- endif -%}
  </div>
  <small class="text">© Susparsa 2022</small>
</footer>

{% schema %}
{
  "name": "alternate-footer",
  "settings": [],
  "max_blocks": 4,
  "blocks": [
    {
      "name": "About",
      "type": "about",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "About"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "text"
        },
        {
          "type": "text",
          "id": "facebook_link",
          "label": "facebook_link",
          "default": "Facebook"
        },
        {
          "type": "text",
          "id": "instagram_link",
          "label": "instagram_link",
          "default": "Instagram"
        }
      ]
    },
    {
      "name": "Menu",
      "type": "menu",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Useful links"
        },
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Menu"
        }
      ]
    }
  ]
}
{% endschema %}
