<section class="product-preview">
  <h2 class="heading product-preview__heading heading--lg heading--blue">{{ section.settings.heading }}</h2>

  {%- assign collection = section.settings.collection -%}
  {%- if collection.all_products_count > 0 -%}
    <ul class="list product-preview__list">
      {%- for product in collection.products limit: section.settings.number_of_products -%}
        {%- render 'alternate-product-card', product: product -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}
</section>

{% schema %}
{
  "name": "alt-product-rec",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "You may also like"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "number_of_products",
      "min": 3,
      "max": 6,
      "step": 1,
      "label": "Number of products",
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "alt-product-rec"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
