.breadcrumb {
  font-size: 0.75rem;
  letter-spacing: normal;
}

@media (max-width: 1256px) {
  .breadcrumb {
    display: flex;
    justify-content: center;
  }
}

.main__breadcrumb {
  margin-left: 18.3rem;
  margin-right: 18.3rem;
  margin-bottom: 2.25rem;
}

@media (max-width: 1256px) {
  .main__breadcrumb {
    margin-left: 10rem;
    margin-right: 10rem;
  }
}

@media (max-width: 780px) {
  .main__breadcrumb {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.link--disabled {
  color: var(--disabled-color);
}

.link--disabled:hover {
  border: none;
}

.breadcrumb__item+.breadcrumb__item::before {
  display: inline-block;
  height: 0.8rem;
  margin: 0 0.73rem 0;
  content: "";
  transform: rotate(22deg);
  border-right: 0.1rem solid var(--disabled-color);
}